trigger:
- main

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    # Install Terraform (use latest or pin a version))
    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: 'latest'   # or '1.5.9' to pin

    - task: TerraformTask@5
      displayName: Tf Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        environmentServiceNameAzureRM: 'test-deploy'
        backendServiceArm: 'test-deploy'
        backendAzureRmResourceGroupName: 'rg-tf-backend'
        backendAzureRmStorageAccountName: 'tfstatecentrsdffds'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'rg-centralIndia.tfstate'

