trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: InstallTools
  jobs:
  - job: InstallTerraform
    displayName: 'Install Terraform'
    steps:
    - script: |
        echo Installing Terraform...
        curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
        sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
        sudo apt-get update && sudo apt-get install terraform
      displayName: 'Install Terraform'

- stage: DeployResources
  jobs:
  - job: TerraformDeployment
    displayName: 'Deploy Resources with Terraform'
    steps:
    - checkout: self

    - script: |
        echo Initialize Terraform
        terraform init
      displayName: 'Terraform Init'

    - script: |
        echo Terraform Plan
        terraform plan -out=tfplan
      displayName: 'Terraform Plan'

    - script: |
        echo Terraform Apply
        terraform apply -auto-approve tfplan
      displayName: 'Terraform Apply'
